# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml

.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_7_0.xml

.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_7_0.xml

.idea/**xml

target/classes/jungle.properties

target/classes/log4j2.xml

JavaSvr.iml


target/classes/jungle.properties
